jackdriscoll.io/node_modules/
node_modules/
dist
.env
.DS_Store

# Docs
docs/projectnotes.md
docs/deployment.md
docs/awsUserPolicies.md
docs/logging.md
docs/ideas-scratch.md

# Log Processing Container 
logproccessing/s3_config.py
